<%= content_tag :h1, "Account" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <%-# Added our custom registration fields as well as a field section for profile picture. -%>
  <div class="field form-group">
    <%= f.label :img, "Profile Picture" %><br />
    <img id="preview-pic">
    <%= @user.return_user_img %>
    <button id="clear-upload-button" class="btn btn-primary">Clear Upload</button>
    <br>
    
    <div class="custom-file">
      <%= f.file_field :uploaded_profile_pic, class: "custom-file-input" %>
      <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
      <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", id: "current-password-id", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", id: "submit-update-button", class:"btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%></p>

<%= link_to "Back", :back %>


<div class="modal fade" id="registration-form-error-modal" tabindex="-1" role="dialog" aria-labelledby="registration-form-error-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="registration-form-error-modal-title">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" id="registration-form-error-modal-content">
          <p>Are you sure you want to end your current fast?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
      </div>
  </div>
</div>


<div class="modal fade" id="registration-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="registration-confirmation-modal-title" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="registration-confirmation-modal-title">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="registration-confirmation-modal-title-content">
        <p>Are you sure you want to make these changes?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirm-registration-edit-button">Yes</button>
    </div>
    </div>
</div>
</div>

