<%= content_tag :h1, "Your Fast History" %>

<% @fasts.each.with_index do |fast, i| %>

    <div class="card">
        <h5 class="card-header">
            <span class="fast-time-points">
                <%= "#{fast.get_start_date_obj}" %>
            </span> 
            -
            <span class="<%= fast.active ? "PRESENT" : "fast-time-points" %>">
                <%= "#{fast.active ? "Current" : fast.updated_at - 5.hours}" %>
            </span> 
        </h5>
        <div class="card-body">
            <h5 class="card-title">
                <%= "#{fast.max_streak > 0 ? "Max Check In Streak: #{fast.max_streak} Day#{fast.max_streak > 1 ? "s" : ""}" : "No Check Ins"}" %>
            </h5>
            <p class="card-text">
                <span class="needs-ordinal-indicator"><%= "#{@fasts.size - i}" %></span> Fast Attempted
                <br>
                <%= "Eating Window: #{fast.eating_window_length.to_i} hrs" %>
                <br>
                <%= "Fasting Window: #{fast.fasting_window_length.to_i} hrs" %>
                <br>
                <%= "Total Days Checked In: #{fast.checks.size}" %>
                <br>
                
            </p>
            <% if fast.checks.exists? %>
                <a href="#" class="btn btn-primary">View Check Ins</a>
            <% end %>
                <a href="#" class="btn btn-danger">Delete this Fast Record</a>
        </div>
    </div>

<% end %>
<br>
<%= link_to "Back", :back %>



