<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="far fa-clock"></i> + <i class="fas fa-utensils"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item nav-image">
            <%= @user.return_user_img %>
        </li>  
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= render "dashboard/shared/links" %>
            </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Technology</a>
      </li>

      <% if @user.fasts.exists? %>

        <li class="nav-item">
            <%= link_to "Your Fast History", fasts_path, class: 'nav-link' %>
        </li>

      <% end %>
      <% if @user.has_current_active_fast? %>
        <li class="nav-item">
            <p class="nav-link menu-fast-window-info">
                Your current fast schedule is 
                <%= @user.fasts.last.fasting_window_length %> [Fasting]
                <%= @user.fasts.last.eating_window_length %> [Eating].
            </p>
        </li>
      <% end %>
      <li class="nav-item mobile-github-link-menu">
        <a class="nav-link" href="https://github.com/Jnavarr56/IFBuddy"><i class="fab fa-github text-left"></i></a>
      </li>
    </ul>
    <a class="nav-link github-right" href="https://github.com/Jnavarr56/IFBuddy"><i class="fab fa-github text-right"></i></a>
  </div>
</nav>

<%-# Render the partial we created to show save errors -%>
<%= render "fasts/shared/error_messages" %>

<div class="container-fluid">
    <div class="row">
        <div class="column col-12 col-md-10 col-lg-8 col-xl-6">
<%= form_for(@fast, html: { class: 'jumbotron' }) do |f|  %>
  
    <div class="field form-group">
      <%= f.label :start_date, "Start Date" %><br />
      <%= f.date_field :start_date, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :start_time, "Start Time" %><br />
        <%= f.time_field :start_time, class: "form-control" %>
        <br>
        <%=label_tag 'use-current-time', 'Use Current Time?', class: 'form-check-label font-italic'%>
        <%=check_box_tag 'use-current-time', true, true, class: ''%>
    </div>

    <div class="field form-group">
        <%= f.label :start_with_fast, 'Start with:' %><br />
        <%= f.check_box :start_with_fast, class:'d-none'%>
        <button type="button" id="fast-start-button" class="fast-or-eat btn btn-secondary btn-sm">Fast</button>
        <button type="button" id="eat-start-button" class="fast-or-eat btn btn-secondary btn-sm">Eating</button>
    </div>

    <div class="field form-group">
        <%= f.label :fasting_window_length, 'Fasting Window Length' %><br />
        <%= f.number_field :fasting_window_length, class:'window-length form-control', id: 'fasting-window-input-js', :value => '16' %>
    </div>

    <div class="field form-group">
        <%= f.label :eating_window_length, 'Eating Window Length' %><br />
        <%= f.number_field :eating_window_length, class:'window-length form-control', id: 'eating-window-input-js', :value => '8' %>
    </div>
  
    <div class="actions">
      <%= f.submit "Create My Fast Schedule", class:"btn btn-info" %>
    </div>

<% end %>
        </div>
    </div>
</div>

