<%= content_tag :h1, "Create a New Fast Schedule" %>

<%-# Render the partial we created to show save errors -%>
<%= render "fasts/shared/error_messages" %>

<%= form_for @fast do |f| %>
  
    <div class="field form-group">
      <%= f.label :start_date, "Start Date" %><br />
      <%= f.date_field :start_date, class: "form-control" %>
    </div>

    <div class="field form-group">
        <%= f.label :start_time, "Start Time" %><br />
        <%= f.time_field :start_time, class: "form-control" %>
        <br>
        <%=label_tag 'use-current-time', 'Use Current Time?', class: 'form-check-label font-italic'%>
        <%=check_box_tag 'use-current-time', true, true, class: ''%>
    </div>

    <div class="field form-group">
        <%= f.label :start_with_fast, 'Start with:' %><br />
        <%= f.check_box :start_with_fast, class:'d-none'%>
        <button type="button" id="fast-start-button" class="fast-or-eat btn btn-secondary btn-sm">Fast</button>
        <button type="button" id="eat-start-button" class="fast-or-eat btn btn-secondary btn-sm">Eating</button>
    </div>

    <div class="field form-group">
        <%= f.label :fasting_window_length, 'Fasting Window Length' %><br />
        <%= f.number_field :fasting_window_length, class:'window-length form-control', id: 'fasting-window-input-js', :value => '16' %>
    </div>

    <div class="field form-group">
        <%= f.label :eating_window_length, 'Eating Window Length' %><br />
        <%= f.number_field :eating_window_length, class:'window-length form-control', id: 'eating-window-input-js', :value => '8' %>
    </div>
  
    <div class="actions">
      <%= f.submit "Go", class:"btn btn-primary" %>
    </div>

<% end %>

<%= link_to "Back", :back %>