<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="far fa-clock"></i> + <i class="fas fa-utensils"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Technology</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Fast History</a>
        </div>
      </li>
      <li class="nav-item github-right">
        <a class="nav-link" href="https://github.com/Jnavarr56/IFBuddy"><i class="fab fa-github text-right"></i></a>
      </li>
    </ul>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> <%= "flashing" %>">
    <%= value %>
  </div>
<% end %>


<div class="container-fluid">
    <div class="row">
        <div class="column col-12 col-md-10 col-lg-8 col-xl-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h2>Log In</h2>
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary btn-sign-up" %>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'btn btn-primary btn-sign-up' %><br />
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to "Sign in with <span class='badge badge-light'><i class='fab fa-#{OmniAuth::Utils.camelize(provider) == 'GoogleOauth2' ? 'google' : 'facebook-f'}'></span></i>".html_safe, omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary btn-sign-up' %>
                <% end -%>
              <% end -%>
            </div>
          <% end %>

    </div>
  </div>
</div>