<h3>Your fast has not begun yet.</h3>

<br>

<h6>
    Your current fast schedule will begin on 
    <%= @user.fasts.last.start_date %> at
    <%= @user.fasts.last.start_time.to_s.split(" ")[1] %>.
</h6>

<%= link_to "End Programmed Fast Schedule", root_path %>

<br>

<%= link_to "Start a New Fast Schedule", new_fast_path %>

<br>

<%= link_to "Your Fast Data", fasts_path %>